table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f4f4f4;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
.customer-row {
    background-color: #e9e9e9;
}
.total-row {
    background-color: #d9d9d9;
    font-weight: bold;
}
.customer-name {
    font-weight: bold;
}

.main{
    padding: 0;
}

.trans td{
    width: 344;
}